@use "../sass/abstract/abstract" as caral;
@use "sass:map";

.line-wht{
    width: 100%;
}

.timeline_step{
    display: flex;
    align-items: center;
    gap: caral.$icon_sm;
    gap: map.get(caral.$icon-sice, "sm");
    span{
        @include caral.font("small")
    }
    .line{
        display: inline-block;
        height: 1px;
        width: 100%;
        @include caral.colorvalue("ligth", "hard", "background" );
    }
    .content{
        width: fit-content;
        display: flex;
        align-items: center;
        width: fit-content;
        gap: caral.$icon_sm;
    }

}

.timeline-number{
    width: map.get(caral.$avatar-sice, "sm");
    height: map.get(caral.$avatar-sice, "sm");
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}

.dot-Done{
    @include caral.colorvalue("ligth", "approve", "background" );
    @include caral.colorvalue("ligth", "flat-white", "color" );
    border: solid 2px map.get(caral.$base_dark, "approve" );       
}

.dot-Default{
    border: solid 2px map.get(caral.$ligth, "hard");
    @include caral.colorvalue("ligth", "medium", "background" );
    color: map.get(caral.$ligth, "hard");
}

.dot-Dessable{
    cursor: not-allowed;
    border: solid 2px map.get(caral.$ligth, "flat-white" ); 
    @include caral.colorvalue("ligth", "hard", "background" );
    @include caral.colorvalue("ligth", "flat-white", "color" );
}


.timeline-Done{
    .timeline-number{
        @extend .dot-Done;
    }
    span{
        color: map.get(caral.$base, "approve");
    }
}
      
.timeline-Default{
    .timeline-number{
        @extend .dot-Default;
    }
    span{
        color: map.get(caral.$ligth, "carbon");
    }
}

.timeline-Dessable{
    cursor: not-allowed;
    .timeline-number{
        @extend .dot-Dessable;
    }
    span{
        @include caral.colorvalue("ligth", "hard", "color" );
    }
     
}



.line-conector{
    width: 2px;
    @include caral.colorvalue("ligth", "hard", "background" );
}