

  .porcentajes{
    position:relative;
    width: fit-content;
  }
  .porcentajes span{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
  }

  circle{
    fill: none;
    stroke-width: 20;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: #E2E8F0;
  }
  circle:nth-child(2){ 
    stroke: var(--color);
    stroke-dasharray: 0 100;
    animation: rellenar .35s linear forwards;
  }

  @keyframes rellenar{
    to{
      stroke-dasharray: var(--porcentaje) 100;
    }
  }