@use "../sass/abstract/abstract" as caral;
@use "sass:map";



.combobox{
    max-width: 100%;
    .categoria{
        @include caral.font("small");
        @include caral.colorvalue("ligth", "hard", "color" );
    }

    .select{

        padding: 12px;
    }
    .selectarea{
        border-radius: 6px;
        @include caral.colorvalue("ligth", "flat-white", "background" );
        overflow: hidden;
        width: 100%;
        margin-top: 10px;
        box-shadow: 0 0 15px 0 rgba($color: map.get(caral.$ligth, "carbon"), $alpha: .2);

    }

    .selectCombo{
        @include caral.colorvalue("ligth", "light", "background");

        border: solid 1px caral.$hard-ligth;
        padding: caral.$padding-y-s caral.$padding-x-s;
        border-radius: caral.$border-radius;
        transition: 1s ease all;      

        display: flex;
        justify-content: space-between;

        width: 100%;
    }
    
    .arrow{
        transition: ease transform 0.5s;
        transform: translate(0deg);
    }
    .content{
        transition: ease opacity 1s;
    }
    .close_content{
        opacity: 0;
    }
    .open_content{
        opacity: 1;
    }
    .option_combobox{
        display: flex;
        justify-content: space-between;
        padding: 8px 16px;
        border-radius: 6px;
        svg{
            max-height: 15px;
        }
        path{
            @include caral.colorvalue("ligth", "approve", "fill" );
        }
        &:hover{
            @include caral.colorvalue("ligth", "medium", "background" );
            
        }
    }
}


.categori{
    padding: 15px 5px;
    border-top: solid 1px map.get(caral.$ligth, "medium"); 


}
.rotate-180{    
    transform: rotate(180deg);
}