@use '../variables' as *;


@mixin carbon($mode){
    @if $mode == "ligth"{
        color: $carbon-ligth;
    }@else if $mode == "dark"{
        color: $carbon-dark;
    }
}
// Mixins para los diferentes tonos de grises
@mixin hard($mode){
    @if $mode == "ligth"{
        color: $hard-ligth;
    }@else if $mode == "dark"{
        color: $hard-dark;
    }
}
@mixin medium($mode){
    @if $mode == "ligth"{
        color: $medium-ligth;
    }@else if $mode == "dark"{
        color: $medium-dark;
    }
} 
@mixin light($mode){
    @if $mode == "ligth"{
        color: $light-ligth;
    }@else if $mode == "dark"{
        color: $light-dark;
    }
}





@mixin full($mode){
    @if $mode == "ligth"{
        background-color: $full-ligth;
    }@else if $mode == "dark"{
        background-color: $full-dark;
    }
}
@mixin container($mode){
    @if $mode == "ligth"{
        background-color: $container-ligth;
    }@else if $mode == "dark"{
        background-color: $container-dark;
    }
}
  
@mixin color-hard($mode){
    @if $mode == "ligth"{
        color: $Hard-blue;
    }@else if $mode == "dark"{
        color: $hard-blue-dark;
    }
}
