@use "sass:map";

//- colors --//

//- Seidor
$Hard-blue: #07153A;
$Soft-blue: #263C7A;
$Light-blue: #66B6FF;

//- dark blue seidor ---//
$hard-blue-dark: #263C7A;
$soft-blue-dark: #070840;

//- Colors base --//
$info: #0191FF;
$approve: #44CA9F;
$warning: #F88A00;
$Danger: #EF4444;
$indigo: #3C096C;
$sakura: #FF2E8C;

//- Colors hard --//
$hard-info: #006ABB;
$hard-approve: #13644A;
$hard-warning: #B46400;
$hard-danger: #560505;
$hard-indigo: #240046;
$hard-sakura: #B1004F; 

//- Colors ligth --//
$ligth-info: #99D3FF;
$ligth-approve: #DAF4EC;
$ligth-warning: #FFF3E5;
$ligth-danger: #FFEDED;
$ligth-indigo: #F2DCFF;
$ligth-sakura: #FFD0E5;

/// grays-ligtmode ///
$carbon-ligth: #242528;
$hard-ligth: #94A3B8;
$medium-ligth: #E2E8F0;
$light-ligth: #F1F5F9;
$flat-white-ligth: #FAFAFA;

/// grays-darkmode /// 
$carbon-dark: #F1F5F9;
$hard-dark: #94A3B8;
$medium-dark: #555C67;
$light-dark: #21252B;
$flat-white-dark: #F1F5F9;

///-body-colors ///
$full-ligth: $medium-ligth;
$full-dark: #0F172B;

$container-ligth: $light-ligth;
$container-dark: #202938;


//// border-radius ///
$border-radius: 6px;


/// palets ///

$Seidor:(
    "hard": $Hard-blue,
    "soft": $Soft-blue,
    "light": $Light-blue,   
);

$base:(
    "info": $info,
    "approve": $approve,
    "warning": $warning,
    "danger": $Danger,
    "indigo": $indigo,
    "sakura": $sakura,
    "Default": $Hard-blue,
);



$base_ligth:(
    "info": $ligth-info,
    "approve": $ligth-approve,
    "warning": $ligth-warning,
    "danger": $ligth-danger,
    "indigo": $ligth-indigo,
    "sakura": $ligth-sakura,
    "Default": $Soft-blue
);

$base_dark:(
    "info": $hard-info,
    "approve": $hard-approve,
    "warning": $hard-warning,
    "danger": $hard-danger,
    "indigo": $hard-indigo,
    "sakura": $hard-sakura,
    "Default": $Hard-blue
);

$ligth: (
    "carbon": $carbon-ligth,
    "hard": $hard-ligth,
    "medium": $medium-ligth,
    "light": $light-ligth,
    "flat-white": $flat-white-ligth,

    "info": $info,
    "approve": $approve,
    "warning": $warning,
    "danger": $Danger,
    "indigo": $indigo,
    "sakura": $sakura,
    "Default": $Hard-blue,
);

$dark: (
    "carbon": $carbon-dark,
    "hard": $hard-dark,
    "medium": $medium-dark,
    "light": $light-dark,
    
    "info": $info,
    "approve": $approve,
    "warning": $warning,
    "danger": $Danger,
    "indigo": $indigo,
    "sakura": $sakura,
    "Default": $Hard-blue,
);


$modes: (
    "ligth": $ligth,
    "dark": $dark,
);

@mixin colorvalue($mode, $color, $property) {
    
    $list: map.get($modes, $mode);
    #{$property}: map.get($list, $color);    
    
}


//// boreders ///
$border: 6px;


// tipografias  ///
$sice_h1: 3rem;
$sice_h2: 1.87rem;
$sice_h3: 1.5rem;
$sice_h4: 1.25rem;
$sice_p: 1rem;
$sice_lead: 1.75rem;
$size_large:1.25rem;
$size_small:0.875rem;
$size_subtitle: 0.7rem;


$weith_h1: 800;
$weith_h2: 600;
$weith_p: 400;
$weith_small: 200;


@mixin font($tag){
    @if $tag == "h1"{
        font-size: $sice_h1;
        font-weight: $weith_h1;
    }@else if $tag == "h2"{
        font-size: $sice_h2;
        font-weight: $weith_h2;
    }@else if $tag == "h3"{
        font-size: $sice_h3;
        font-weight: $weith_h2;
    }@else if $tag == "h4"{
        font-size: $sice_h4;
        font-weight: $weith_h2;
    }@else if $tag == "p"{
        font-size: $sice_p;
        font-weight: $weith_p;
    }@else if $tag == "lead"{
        font-size: $sice_lead;
    }@else if $tag == "large"{
        font-size: $size_large;
        font-weight: $weith_h2;
    }@else if $tag == "small"{
        font-size: $size_small;
        font-weight: $weith_small;
    }@else if $tag == "subtitle"{
        font-size: $size_subtitle;
        font-weight: $weith_small;
    }
}


// Sizes ///

$icon_sm: 10px;
$icon_md: 24px;
$icon_lg: 30px;
$icon_xl: 40px;

$icon-sice: (
    "sm": $icon_sm,
    "md": $icon_md,
    "lg": $icon_lg,
    "xl": $icon_xl,
);

$avar_sm: 30px;
$avar_md: 60px;
$avar_lg: 70px;
$avar_xl: 90px;

$avatar-sice: (
    "sm": $avar_sm,
    "md": $avar_md,
    "lg": $avar_lg,
    "xl": $avar_xl,
);


$container: 1600px;


$Button_sm: $icon_md;
$Button_md: 44px;
$Button_lg: 50px;

@mixin btn($size){
    @if $size == "sm"{
        min-height: $Button_sm;
    }@else if $size == "md"{
        min-height: $Button_md;
    }@else if $size == "lg"{
        min-height: $Button_lg;
    }
}

/// pading and margin ///
$padding-y-xs: 5px;
$padding-y-s: 10px;
$padding-x-s: 12px;
$padding-y-m: 15px;
$padding-x-m: 20px;