@use "../sass/abstract/abstract" as caral;
@use "sass:map";
@use "sass:color";


.tab{
    padding: 7px 16px ;
    width: fit-content;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.tab-Active{
    @include caral.colorvalue("ligth", "hard", "background" );
    @include caral.colorvalue("ligth", "flat-white", "color" );

    &:hover{
        background-color: color.adjust(map.get(caral.$ligth, "hard") ,  $lightness: -5%);       
    }
}

.tab-Default{
    @include caral.colorvalue("ligth", "medium", "background" );
    &:hover{
        background-color: color.adjust(map.get(caral.$ligth, "medium") ,  $lightness: -10%);       
    }
}

.tab-Dessable{
    cursor: not-allowed;
    @include caral.colorvalue("ligth", "medium", "background" );
    @include caral.colorvalue("ligth", "hard", "color" );
    
}

.rowtab{
    display: flex;
    gap: 0.5em;
    @include caral.colorvalue("ligth", "medium", "background" );
    border-radius: 6px;
    padding: 7px 16px;
}